/* 
 Really Dark Blue: #181e2c;
 Realy Light Blue: #e5ebf8; 
*/

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    color: #4b4b4b;
    text-align: center;
}

.logo {
    width: 180px;
    height: 35px;
}

header {
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    background-position: center;
    margin-bottom: 30px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.carousel,
.carousel-item {
    margin-top: 0px;
}

.carousel-item h2 {
    font-size: 40px;
    text-align: center;
}

.carousel-item p {
    text-align: center;
    padding: 0 20px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: auto;
    color: #e5ebf8;
    background: url(../images/24.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -30px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: #e5ebf8;
    background: url(../images/3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: -30px;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: #e5ebf8;
    background: url(../images/1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: -30px;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: #e5ebf8;
    background: url(../images/28.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: -30px;
}

.btn {
    outline: none;
    border: none;
    color: #4b4b4b;
    margin-bottom: 10px;
    text-decoration: none;
}

#simpleModal ul li:hover {
    background-color: #5cace6c0;
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

.section1 {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    color: #4b4b4b;
    padding-bottom: 50px;
}

.section1 .our-services {
    font-size: 35px;
    padding-top: 10px;
}

.section1a {
    width: 90%;
    margin: 20px auto;
    color: #4b4b4b;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(65, 2, 2, 0.22);
}

.section1a img {
    width: 100%;
    padding: 10px 20px 0 20px;
}

.section1a h2 {
    font-size: 25px;
    margin-top: 10px;
    padding: 0px 10px;
}

.section1a p {
    padding: 0px 20px 10px 20px;
    margin: 0;
    line-height: 1.5rem;
}

.section1a ul li {
    list-style-type: disc;
    color: #4b4b4b;
    text-align: left;
}

.our-client {
    margin: 40px 0;
}

.carousel-item {
    margin-top: 30px;
}

.ui-logo,
.osun-logo {
    height: 100px;
    width: auto;
}

.profile {
    color: #181e2c;
    background-color: #e5ebf8;
    padding: 10px 20px;
    transition: all .3s linear;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(65, 2, 2, 0.22);
}

.profile:hover {
    color: #e5ebf8;
    background-color: #181e2c;
}

footer {
    background: hsl(233, 26%, 24%);
}

.logos .logo2 {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 180px;
}

.logos img {
    margin-left: 7px;
    margin-right: 7px;
    width: 30px;
    margin-bottom: 30px;
}

footer ul {
    padding: 0;
}

.ul1 {
    margin-bottom: 0;
    margin-top: 0;
}

.ul1 li {
    margin-bottom: 3rem;
    margin-top: 0;
    text-align: center;
}

.ul2 li {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 0;
}

.ul2:last-child {
    margin-bottom: 0;
}

ul li a.last {
    margin-bottom: 0;
}

ul li a {
    margin-bottom: 0;
    text-align: center;
    color: white;
}

ul li {
    text-align: center;
    color: white;
}

.lastPart p {
    position: relative;
    margin-top: 50px;
    color: white;
    font-size: 16px
}

.lastPart {
    height: 150px;
    margin-top: 0;
}

a:hover {
    color: #181e2c;
}

.desktop-nav {
    display: none;
}


/* 
desktop view 
*/

@media (min-width:992px) {
    /* nav bar styling */
    .desktop-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #181e2c;
        box-shadow: 0 7px 20px rgba(14, 26, 48, 0.25);
        ;
        padding: 10px 0;
        position: fixed;
        z-index: 999;
    }
    .nav-ul {
        margin-bottom: 0;
    }
    header {
        background-attachment: fixed;
        background-size: cover;
        height: 90vh;
        background-position: center;
        margin-bottom: 30px;
    }
    .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: auto;
        color: #e5ebf8;
        background: url(../images/24.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: auto;
        color: #e5ebf8;
        background: url(https://res.cloudinary.com/luqmonac56/image/upload/v1603517999/3_qu3kba.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .third {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: auto;
        color: #e5ebf8;
        background: url(../images/1.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .fourth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: auto;
        color: #e5ebf8;
        background: url(../images/28.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .flex {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .section1a {
        margin: 1%;
        overflow: hidden;
        cursor: pointer;
        flex: 1 0 25%;
    }
    nav {
        display: none;
    }
    .logo {
        margin-left: 30px;
        cursor: pointer;
    }
    .nav-ul li {
        display: inline-block;
        padding: 0 30px;
    }
    .nav-ul li a {
        color: #e5ebf8;
        padding-bottom: 10px;
        transition: all .3s ease-in-out;
    }
    .nav-ul li a:hover {
        border-bottom: 2px solid #e7e7e7;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    /* footer */
    footer {
        /* padding:0 7%; */
        width: auto;
        font-size: 16px;
        margin-top: -200px;
        /* display: flex; */
    }
    .logos {
        margin-left: 7%;
    }
    .logos img {
        margin-left: 7px;
        margin-right: 7px;
        width: 20px;
    }
    .logos .logo2 {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .ul1 li {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 16px;
    }
    .ul2 li {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 16px;
    }
    .ul1 li a,
    .ul2 li a {
        font-size: 16px;
    }
    ul li a {
        text-align: left;
        color: white;
    }
    .lastPart {
        padding-right: 80px;
        display: flex;
        justify-content: left;
        align-items: flex-end;
        flex-direction: column;
    }
    footer.flex {
        max-width: 1400px;
        margin: 40px auto 0 auto;
        line-height: 1.6rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .logos,
    .ul1 {
        box-sizing: border-box;
    }
    footer .profile {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .lastPart p {
        margin-top: 20px;
    }
}


/* 
Tablet view 
*/

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        width: 200px;
        height: 35px;
    }
    /* nav bar styling */
    .desktop-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #181e2c;
        box-shadow: 0 7px 20px rgba(14, 26, 48, 0.25);
        ;
        padding: 10px 0;
        position: fixed;
        z-index: 999;
    }
    nav {
        display: none;
    }
    .logo {
        margin-left: 30px;
        cursor: pointer;
    }
    .nav-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 0; */
        margin: auto;
    }
    .nav-ul li {
        margin-right: 20px;
    }
    .nav-ul li a {
        color: #e5ebf8;
        padding-bottom: 10px;
        transition: all .3s ease-in-out;
    }
    .nav-ul li a:hover {
        border-bottom: 2px solid #e7e7e7;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .flex {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0 30px;
    }
    .section1a {
        margin: 20px 20px;
        overflow: hidden;
        cursor: pointer;
        flex: 1 0 39%;
    }
    header {
        background-attachment: fixed;
        background-size: cover;
        height: 80vh;
        width: auto;
        background-position: center;
        margin-bottom: 30px;
    }
    .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: auto;
        color: #e5ebf8;
        background: url(../images/24.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: auto;
        color: #e5ebf8;
        background: url(https://res.cloudinary.com/luqmonac56/image/upload/v1603517999/3_qu3kba.jpg);
        background-size: cover;
        background-position: center;
    }
    .third {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: auto;
        color: #e5ebf8;
        background: url(../images/1.jpg);
        background-size: cover;
        background-position: center;
    }
    .fourth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: auto;
        color: #e5ebf8;
        background: url(../images/28.jpeg);
        background-size: cover;
        background-position: center;
    }
    footer {
        width: auto;
        font-size: 16px;
        margin-top: -200px;
    }
    .logos {
        margin-left: 2%;
    }
    .logos img {
        margin-left: 7px;
        margin-right: 7px;
        width: 20px;
    }
    .logos .logo2 {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .ul1 li {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 16px;
    }
    .ul2 li {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 16px;
    }
    .ul1 li a,
    .ul2 li a {
        font-size: 16px;
    }
    ul li a {
        text-align: left;
        color: white;
    }
    .lastPart {
        padding-right: 10px;
        display: flex;
        justify-content: left;
        align-items: flex-end;
        flex-direction: column;
    }
    footer.flex {
        max-width: 1400px;
        margin: 40px auto 0 auto;
        line-height: 1.6rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .logos,
    .ul1 {
        box-sizing: border-box;
    }
    footer .profile {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .lastPart p {
        margin-top: 20px;
    }
}

.button {
    color: #fff;
    border: 0;
    position: relative;
    float: right;
    margin: 20px auto 0 auto;
    padding-right: 20px;
}

.button:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.411);
    margin-top: 55px;
}

nav .logo {
    margin: 10px auto;
    float: left;
    padding-left: 20px;
}

nav .logo:hover {
    cursor: pointer;
}

nav {
    height: 50px;
}

.modal-content .nav-ul li a {
    color: black;
    margin-bottom: 30px;
}

.modal-content .nav-ul li {
    margin-bottom: 30px;
    position: relative;
    right: 20px;
    font-size: 20px;
}

.modal-content {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10% auto;
    padding: 20px;
    width: 70%;
    animation-name: modalopen;
    animation-duration: .5s;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.274), 0 8px 18px 0 rgba(0, 0, 0, 0.185);
    margin-bottom: 100px !important;
}

.closeBtn {
    float: right;
    color: #fff;
    border: 0;
    position: relative;
    float: right;
    margin: 20px auto 0 auto;
    padding-right: 20px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: rgb(238, 238, 238);
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*------------------------------
   back to top button
------------------------------*/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: block;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #0a3d62;
    border-radius: 50%;
    box-shadow: 1px 1px 15px -3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top div {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
}